:root{
    --clr-background: #00081d;
    --clr-white: #ffffff;
    --clr-red: #e50914;
    --clr-faq: #132144;
}

*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    min-height: 100svh;
    background-color: var(--clr-background);
    color: var(--clr-white);
}

img{
    width: 200px;
    height: 80px;
}


/* ----------------------  NAVBAR  ----------------------  */

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.netflix-logo{
    width: 100px;
    height: 40px;
}

.btn__language{
    background-color: transparent;
    color: white;
    opacity: 0.4;
    padding: 0.3rem;
    font-size: 0.8em;
    height: 32px;
    border-radius: 1vmax;
    cursor: pointer;
}

.btn__signin{
    background-color: var(--clr-red);
    color: white;
    padding: 0.3rem;
    font-size: 0.8em;
    border-radius: 1vmax;
    width: 70px;
    height: 32px;
    font-weight: 550;
    cursor: pointer;
}

/* ----------------------  FRONTPAGE TOP ----------------------  */

.frontpage-top{
    padding: 2rem;
}

.frontpage-top h1{
    padding: 0rem 6rem 0rem 0rem;
    font-size: 2em;
}

.frontpage-top h3{
    padding: 1rem 0rem;
    font-size: 1em;
}

.frontpage-top p{
    padding: 1rem 0rem;
}

/* Front page top - Membership */

.frontpage-top__membership{
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.frontpage-top__membership input{
    color: var(--clr-white);
    height: 3rem;
    border-radius: 1vmax;
    background-color: transparent;
    padding-left: 16px;
    outline-color: var(--clr-white);
}

.frontpage-top__membership ::placeholder{
    color: var(--clr-white);
    font-size: 1.2em;
    opacity: 0.6;
}

.frontpage-top__membership-submit{
    color: var(--clr-white);
    background-color: var(--clr-red);
    width: 160px;
    height: 50px;
    border-radius: 1vmax;
    font-size: 1.2em;
    font-weight: 600;
}

/* ----------------------  FRONTPAGE CATEGORIES  ----------------------  */

.frontpage-categories{
}

/* Front page top - Categories - First */

.frontpage-categories__first,
.frontpage-categories__second,
.frontpage-categories__third,
.frontpage-categories__fourth{
    margin: 1rem;
    padding: 1rem;
    height: 350px;
    background: linear-gradient(135deg, rgba(11,20,59,1) 40%, rgba(64,13,32,1) 100%);
    border-radius: 1vmax;
    display: grid;
    place-content: center;
}

/* ----------------------  FAQ DROPDOWN  ----------------------  */

.faq-dropdown{
    display: grid;
    place-content: center;
    padding: 2rem;
}

.faq-dropdown svg{
    width: 22px;
    height: 16px;
}

 .faq{
    max-width: 320px;
    margin-top: 0.5rem;
    padding: 1rem;
    cursor: pointer;
 }

 .question{
    display: flex;
    justify-content: space-between;
    align-items: center;
 }

.answer{
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.6s ease;
}

 .answer p{
    padding-top: 1rem;
    line-height: 1.5;
 }

 .faq.active .answer{
    max-height: 300px;
 }


/* ----------------------  FOOTER  ----------------------  */

.footer{
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.footer__links{
    display: flex;
    flex-direction: column;
}